body {
	font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 16px;
	letter-spacing: 0.8px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

/* Buttons override */
.btn {
	text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
	padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-red {
	background-color: #dd5138;
	color: #fff;
}
.btn-yellow {
	background-color: #fcd93b;
	color: #2a2a2a;
	opacity: 0.8;
}
.btn-yellow:hover {
	opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
    opacity: 0.65;
}
.content-ct {
	text-align: center;
}

/* ------------------
	Navigation
------------------ */
.side-menu {
	position: fixed;
	right: 30px;
	top: 50%;
    transform: translateY(-73px);
    z-index: 99;
}
.side-menu ul li {
    text-align: right;
    margin: 10px 0;
}
.side-menu ul li a span {
	display: inline-block;
}
.side-menu ul li a span.menu-title {
	color: #fff;
    position: relative;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #dd5138;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 0;
}
.side-menu ul li a:hover span.menu-title {
    opacity: 1;
}
.side-menu ul li a span.dot {
    position: relative;
    background-color: #dd5138;
    border-radius: 2em;
    height: 10px;
    width: 10px;
    -webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}
.side-menu ul li a:hover span.dot {
	transform: scale(1.8);
}

.speaker-social li a span{
	font-size:  1.5em !important;
	border-radius: 50%;
	padding: 15px !important;
	border: 2px solid #555;
}
body{
	overflow-x: hidden;
}
.navbar{
	background: #016CC7;
	padding: 10px;
}
.speaker-social li a{
	font-size: 1em !important;
	letter-spacing: 3px;
	color: #fff;
}
canvas{ display: block; vertical-align: bottom; }
#particles-js{
	 position:absolute; width: 100%; height: 100%;
	 background-size: cover; background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9;
	font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif; font-weight: bold; }
	.js-count-particles{ font-size: 1.1em; }
	#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; }
	 #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
.hero-header {
	background: #016cc7;
	padding: 10px 1em ;
	color: #fff;
}
.hero-header h1 {
	/*margin: 1em 0 0 0;*/
}
.hero-header h4 {
	font-weight: normal;
	opacity: 0.6;
    letter-spacing: 1px;
}
.hero-header .logo {
	max-width: 180px;
}
.hero-header .btn {

}
.hero-header .rocket {
	max-width: 100%;
	height: 300px;
	width: auto;
}
.me-row {
	padding: 30px 0;
}
.row-title{
	font-weight: 400;
}
#speakers .row-title {
	font-weight: bold;
	color: #000;
}
.feature h3{
	font-weight: 400;
}
.feature {
	padding: 20px;
	margin-top: 30px;
}
.feature span {
	font-size: 5em;
    color: #016cc7;
}
#speakers{
	background-color: #ddd;
}
.speaker .feature {
	width: 31.333333%;
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	margin-right: 20px;
  	border: 3px solid #6f6f6f;
    border-radius: 5px;
		background-color: #efefef;
}
.speaker .feature:hover {
    box-shadow: 3px 3px 10px #ccc;
		border-color: #00aaaa;
    transform: translateY(-10px);
}
.speaker-img {
	max-width: 80%;
    border: 5px solid #333;
    border-radius: 50%;
}
ul.speaker-social li {
	list-style: none;
	display: inline-block;
	margin: 10px 5px;
}
ul.speaker-social li a {
	font-size: 0.2em;
	padding: 0 10px;
}
ul.speaker-social li a:hover {
	text-decoration: none;
}
a span.ti-facebook {
	/*color: #3b5998;*/
}
a span.ti-twitter-alt {
	color: #4099ff;
}

.tickets {
	background-color: #fcd93b;
}
.tickets .price {
	font-size: 4em;
	color: #dd5138;
    font-weight: 100;
}
.tickets .price sup {
	font-size: 0.4em;
}
.textCenter{
	text-align: center;
}

.nav-tabs {
    margin-top: 20px;
}
#schedule{
	background-color: #2C3E50;
	color: #f0f0f0;
	padding: 80px 50px;
}
.schedule .media {
	margin-top: 4em;
}
.schedule .media-object {
	max-width: 100px;
}
.schedule .media-heading {
	font-weight: 600;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
}
.schedule .media-body h5 {
	text-transform: uppercase;
	font-weight: 600;
}
#whyRegister{

}
#whyRegister h2{
	font-weight: bold;
}
#whyRegister .feature i{
	font-size: 8em;
	padding: 10px;
}
#whyRegister h3{
	font-weight: 400;
}
#whyRegister .feature{
	background-color: #fefefe;
}
.footer {
    background-color: #2a2a2a;
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
.footer-credit {
    padding: 40px;
}
ul.footer-menu {
    text-align: right;
}
ul.footer-menu li {
    display: inline-block;
}
ul.footer-menu li a {
    font-size: 12px;
    color: #fcd93b;
    padding-right: 20px;
}
ul.footer-menu li a:hover {
    color: #dd5138;
}


.contact {
    background-color: #3a3a3a;
    color: #fff;
    padding: 1em;
}
.contact h3 {
    margin-bottom: 30px;
}
.form-control {
    padding: 20px 15px;
    border: 3px solid #eee;
    background-color: #f9f9f9;
    box-shadow: none;
}
.help-block {
    font-size: 12px;
}
.form-control-feedback {
    top: 15px;
    right: 15px;
}

.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

@media (max-width: 767px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
        max-height: 550px;
    }
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
}


/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}

.opl {
display: inline-block;
position: fixed;
right: 0;
top: 100px;
z-index:999999;
}






.time-count-container{
	min-height:250px;
	margin-top:5px;
}
.time-box{
	width:55px;
	height:55px;
	display: table;
	border:1px solid #fff;
	margin:18px auto;

	-webkit-border-radius:15px;
	   -moz-border-radius:15px;
	    -ms-border-radius:15px;
	     -o-border-radius:15px;
	        border-radius:15px;

	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.time-box-inner{
	width:150px;
	height:150px;
	display:table;
	text-align:center;

	-webkit-transform:rotate(-45deg);
	   -moz-transform:rotate(-45deg);
	    -ms-transform:rotate(-45deg);
	     -o-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}
.time-number{
	font-size:55px;
	width:100%;
	display:inline-block;
	font-weight:200;
	padding-top: 15%;


	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}
.time-number .digit{
	line-height: 60px;
	display: inline-block;
	overflow: hidden;
}

.time-name{
	font-size:15px;
	text-transform:uppercase;
	font-weight:700;
}
.time-until{
	text-align:center;
	margin:0;
}
.time-until span{
	color: #fff;
	font-size:18px;
	line-height:40px;
	display:inline-block;
	background-color:#3498db;
	text-transform:uppercase;
	padding:0px 25px;
}




.navbar-custom li {
	padding: 8px;
	font-size:15px;
	font-family:Montserrat,cursive;
	text-transform:uppercase
}
.navbar-custom {
	border-color:#080808;
	opacity: 0.85;
}
.navbar-custom .navbar-nav>.active>a:hover,.navbar-custom .navbar-nav>li>a:focus,.navbar-custom .navbar-nav>li>a:hover {
	/*background-color:#25A13E;*/
	background-color: transparent;
	border-bottom: 3px solid #DD5138;
	margin: 2px;
	position: relative;
	top: -5px;
}
.navbar-custom .navbar-nav>.active>a,.navbar-custom .navbar-nav>.open>a,.navbar-custom .navbar-nav>.open>a:focus,.navbar-custom .navbar-nav>.open>a:hover {
	background-color: trasparent;
	border-bottom: 5px solid #DD5138;
}
.dropdown-menu {
	background-color:#FFF
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.navbar-custom {
	background-image:none
}
.navbar-custom .navbar-brand {
	color:#f0f0f0
}
.navbar-custom .navbar-brand:hover {
	color:#FFF
}
.navbar-custom .navbar-nav>li>a {
	color:#f0f0f0
}
.navbar-custom .navbar-nav>.active>a,.navbar-custom .navbar-nav>.active>a:focus,.navbar-custom .navbar-nav>.active>a:hover,.navbar-custom .navbar-nav>.open>a,.navbar-custom .navbar-nav>.open>a:focus,.navbar-custom .navbar-nav>.open>a:hover,.navbar-custom .navbar-nav>li>a:focus,.navbar-custom .navbar-nav>li>a:hover {
	color:#FFF
}
.dropdown-menu>li>a {
	color:#333
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
	background-color:#428BCA;
	color:#f0f0f0
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color:#f00f0f0;
	border-bottom-color:#fff
}
.navbar-custom .navbar-nav>.dropdown>a:hover .caret {
	border-top-color:#fff;
	border-bottom-color:#f0f0f0
}
.navbar-collapse li {
	border-radius:5px;
	overflow:hidden
}




.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin:0 auto;

  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
